body {
	background-color: #ffffff;
	color: #000000;
	font-family: 'Jura';
}


  
ul {
	font-size: 32px;
	padding: 0px;
	margin-top: 16px;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}


@media screen and (min-width: 550px) {
	
    .logo-main {
		width: 100%;
		max-width: 512px;
		height: auto;
		margin-top: 32px;
		margin-left: 32px;
	}
	
	ul {
		margin-left: 80px;
	}
	
}

@media screen and (max-width: 549px) {
	
    .logo-main {
		margin-top: 32px;
		width: 100%;
		height: auto;
	}
	
	ul {
		text-align: center;
	}
}


@media (prefers-color-scheme: dark) {
	
	body {
		background-color: #000000;
		color: #ffffff;
	}
	
	.logo-main {
		filter: invert(0);
	}
	
}

@media (prefers-color-scheme: light) {
	
	.logo-main {
		filter: invert(1);
	}
	
}
  